.previews-grid {
    margin: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 200px;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article-grid div {
    border: 1px solid black;
}

.article-img {
    overflow: hidden;
    height: 365px;

}

.article-img img {
    height: 365px;


}

.article-text-grid {}

.more-info {
    display: flex;
    align-items: center;
    justify-content: center;

}

/*tlačiko 1*/
.button-info {
    padding: 0.8em 1.8em;
    border: 2px solid rgb(239, 62, 35);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: rgb(239, 62, 35);

}

.button-info::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgb(239, 62, 35);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-info:hover::before {
    width: 105%;
}

.button-info:hover {
    color: #111;
}

/* návrh číslo 2 */
.button-info2 {
    text-decoration: none;
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.button-info2:focus,
.button-info2:hover {
    color: #fff;
}

.button-info2:focus:after,
.button-info2:hover:after {
    width: 100%;
    left: 0%;
}

.button-info2:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/*návrh číslo 3 */

.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }

   @media screen and (max-width:1200px){
    .article-grid {
        display: grid;
        grid-template-columns: 1fr;
    
    }

    @media screen and (max-width:900px){
        .previews-grid{
            display: grid;
            grid-template-columns: 1fr;
            margin: 10px;

        }

    }
   }